@font-face { font-family: "Formular"; src: url("../../public/Formular.ttf"); }
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: normal;
  font-family: 'Formular';
}
